main {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 20px;

	gap: 15px;
}

.hero .tagline {
	font-size: 32px;
	margin-bottom: 8px;
}

.hero .text-highlight {
	color: var(--color-darkgold);
	font-weight: 550;
}

.hero .btn-set {
	margin: 25px;
}

.hero .btn-set a {
	padding: 8px 16px;
	font-size: 15px;
	border-radius: 30px;
	text-decoration: none;
	display: inline-block;
	/* inline elements don't scale */
	filter: drop-shadow(0px 2px 2px var(--shadow-red-xl));
	margin: 0 6px;

	box-shadow: inset 0px 0px 15px 0px #ffffff4c;
}

.hero .btn-set a:hover {
	scale: 103%;
}

.hero .btn-set .main {
	color: var(--color-bible-gold);
	background-color: var(--color-bible-red);
}

.hero .btn-set .alt {
	color: var(--color-black);
	background-color: var(--color-gray-light);
}


#votd {
	background-color: var(--color-bible-red);
	max-width: 550px;
	padding: 12px;
	border-radius: 24px;
	margin: auto;
	text-decoration: none;
	filter: drop-shadow(0px 2px 4px var(--shadow-red-xl));

	transition: scale 50ms;
	will-change: scale;
}

#votd:hover {
	scale: 101%;
}


#votd .quote {
	font-size: 32px;
	color: var(--color-bible-gold);
	font-family: "Crimson Text", serif;
	margin: 16px 16px;
}

#votd .other {
	color: var(--color-accent-pink-light);
}

.wavy-text {
	text-decoration: underline wavy var(--color-black) 1px;
}

@media (max-width: 600px) {}