main {
	width: 400px;
	margin: auto;
	font-size: 20px;
	line-height: 1.8;
}

.chapter-text .verse-num {
	opacity: 0.55;
	font-size: 15px;
}

.chapter-text .verse-text {
	transition: color 80ms;
}

.chapter-text .verse-text:hover {
	/* color: #ff7bb6 */
}

#wing-nav {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 100dvh;
	display: flex;
	justify-content: space-between;
	align-items: center;

	--outer-margin: 30px;
	--inner-margin: 12.5dvw;
}

#wing-nav a {
	pointer-events: all;
	text-decoration: none;
	font-size: 50px;
	color: black;
	opacity: 0.55;
	transition: all 60ms;
}

#wing-nav a:hover {
	scale: 105%;
	opacity: 1;
}

/* when there's no nav available, element stays but is hidden and disabled */
#wing-nav a.disabled {
	opacity: 0;
	pointer-events: none;
}

/* https://cssgradient.io */
#wing-nav-next:hover {
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
}

#wing-nav-next p {
	margin: 50dvh var(--outer-margin) 50dvh var(--inner-margin);
}

#wing-nav-prev:hover {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
}

#wing-nav-prev p {
	margin: 50dvh var(--inner-margin) 50dvh var(--outer-margin);
}



/* #wing-nav-prev {
	left: 0;
}

#wing-nav-next {
	right: 0;
} */