@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	/* neutrals */
	--color-white: #FFF;
	--color-black: #000;
	--color-gray-dark: #676767;
	--color-gray-medium: #636363;
	--color-gray-light: #D9D9D9;

	/* main colors */
	--color-bible-red: #B21E00;
	--color-darkgold: #B29A00;

	/* accents */
	--color-bible-gold: #F1D000;
	--color-accent-pink-light: #F7AFAF;
	/* phase this out */
	--color-accent-magenta: #BD00AA;

	/* shadows (black with alpha) */
	--shadow-black-xs: #00000035;
	--shadow-black-sm: #00000028;
	--shadow-black-md: #00000032;
	--shadow-black-lg: #0000003e;
	--shadow-black-xl: #00000047;

	/* Derive red shadows using color-mix */
	--shadow-red-xs: color-mix(in srgb, var(--color-bible-red) 7%, transparent);
	--shadow-red-sm: color-mix(in srgb, var(--color-bible-red) 16%, transparent);
	--shadow-red-md: color-mix(in srgb, var(--color-bible-red) 20%, transparent);
	--shadow-red-lg: color-mix(in srgb, var(--color-bible-red) 24%, transparent);
	--shadow-red-xl: color-mix(in srgb, var(--color-bible-red) 28%, transparent);
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

/* -----[NAVBAR]----- */
header {
	/* width: 100dvw; */
	padding: 20px;
	/* border-bottom: 1px solid #00000035; */
	align-items: center;
	z-index: 20;
	position: sticky;
	top: 0;

	/* filter: drop-shadow(0px 0px 2px #00000028); */

	/* #godsend https://cssgrid-generator.netlify.app */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--color-white) 100%);
}

header>* {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background-color: var(--color-white);

	border-radius: 30px;
	filter: drop-shadow(0px 2px 2px var(--shadow-red-md));

	border-radius: 30px;
}

header .openbible-logo {
	grid-area: 1 / 1 / 2 / 2;
	width: fit-content;
	height: 42px;
}

header .links {
	grid-area: 1 / 3 / 2 / 4;
	justify-self: right;
	height: 36px;
}

.openbible-logo {
	font-weight: 800;
	font-size: 22px;
}

header a {
	text-decoration: none;
	color: var(--color-gray-dark);
}

header a .button-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: scale 50ms, box-shadow 50ms;
	will-change: scale, box-shadow;
	box-sizing: border-box;



	padding: 6px 12px;

	border-radius: 30px;
}

header .openbible-logo .button-inner {
	margin: 2px 4px;
	height: 36px;
}

header .links {
	padding: 0px 4px;
}

header .links .button-inner {
	margin: 2px 0px;
	height: 30px;
}


header a[aria-current="page"] .button-inner,
header a:hover .button-inner {
	background-color: var(--color-white);
	color: var(--color-black);
}

header a:hover .button-inner,
header a[aria-current="page"]:hover .button-inner {
	box-shadow: inset 0px 0px 7px 0px var(--shadow-red-lg);
}

header a[aria-current="page"] .button-inner {
	box-shadow: inset 0px 0px 6px 0px var(--shadow-red-xl);
}

header .openbible-logo:hover .button-inner {
	scale: 102%;
}

header .links a:hover .button-inner {
	scale: 104%;
}

header>nav {
	/* gap: 10px; */
	display: flex;
	font-size: 14px;
	font-weight: 600;
}

header nav a[aria-current="page"] {
	color: var(--color-black);
	font-weight: 800;
	/* text-decoration: underline solid var(--color-black) 1px; */
	/* cursor: pointer; */
}

.cursor-hover-effect {
	transition: scale 50ms;
	will-change: scale;
}

.cursor-hover-effect:hover {
	scale: 103%;
}